@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .button-group {
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
      margin: 5px;
    }
  }
}
